<div class="cont">
<br>
  <h6>Buscar:</h6>




<%= form_with(url: posters_poster_search_path, method: :get) do %>
  <%= label_tag(:buscar, "buscar:") %>
  <%= text_field_tag(:buscar) %>
  <%= submit_tag("buscar") %>
<% end %>
  <br>
<h6>Seleccionar Nodo:</h6>
<br>
  <% if user_signed_in? %>
    <select name="Nodo" id="nodo_id">
      <option value="">Seleccione un nodo</option>
      <option value="Nodo_visita">Visita</option>
      <option value="Nodo_registrado">Registred</option>
      <option value="Nodo_premium">Premium</option>
  <% else %>
      <select name="Nodo" id="nodo_id">
      <option value="">Seleccione un nodo</option>
      <option value="Nodo_visita">Visita</option>
  <% end %>
    </select>
<br>
<br>
<h6>Deencifrador</h6>
<input type="password" name="deencrypter">
<br><br>
<button type="button" name="btn_deencifrar">Decifrar</button>

</div>
