<div class="todo">
  <div class="contenedor">


    <div class="bloque" id="visitas">
      <div class="bar-t">
        <h3>Nodo de visitas</h3>
      </div>

      <% if user_signed_in? %>
      <a href="<%= pages_inicio_path %>" class="btn btn-primary btne">entrar</a>
      <% else %>
      <a href="<%= pages_inicio_path %>" class="btn btn-primary btne">entrar</a>
      <% end %>

    </div>

    <div class="bloque" id="registrados">
      <div class="bar-t">
        <h3>Nodo de Usuarios registrados</h3>
      </div>
      <% if user_signed_in? %>
      <a href="<%= pages_inicio_path %>" class="btn btn-primary btne">entrar</a>
      <% else %>
      <a href="#" class="btn btn-primary btne">Registrarse</a>
      <% end %>
    </div>

    <div class="bloque" id="premium">
      <div class="bar-t">
        <h3>nodo de usuarios premiums</h3>
      </div>
      <% if user_signed_in? %>
      <a href="<%= pages_inicio_path %>" class="btn btn-primary btne">entrar</a>
      <% else %>
      <a href="#" class="btn btn-primary btne">Identifícate</a>
      <% end %>
    </div>

  </div>

</div>
