<div class="todo">
  <div class="contenedor">
    <div class="bloque" id="visitas">

      <h3>Nodo de visitas</h3>
      <a href="<%= pages_inicio_path %>">entrar</a>

    </div>
    <div class="bloque" id="registrados">

      <h3>Nodo de Usuarios registrados</h3>
      <input type="text" name="contraseña">
      <a href="<%= pages_inicio_path %>">entrar</a>

    </div>
    <div class="bloque" id="premium">

      <h3>nodo de usuarios premiums</h3>
      <input type="text" name="contraseña">
      <a href="#">entrar</a>

    </div>

  </div>

</div>
